@model EmployeesListViewModel

@{
    ViewBag.Title = "Employee List";
    ViewBag.Header = "Employee List";
}

<br />
<form method="get" asp-controller="Employee" asp-action="search">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>
    </div>
</form>

<br />
<a asp-controller="Employee" asp-action="Create" class="btn btn-secondary" style="width:auto;">Create Employee</a>

<div class="card-deck">
    @if (Model.Employees.Any())
    {
        foreach (var employee in Model.Employees)
        {
            <div class="card m-3">
                <div class="card-header">
                    <h3>@employee.FirstName @employee.LastName</h3>
                </div>
                <div class="card-footer text-center">
                    <form asp-controller="Employee" asp-action="delete" asp-route-id="@employee.EmployeeId" method="post">
                        <a asp-controller="Employee" asp-action="details" asp-route-id="@employee.EmployeeId"
                           class="btn btn-secondary m-1">View</a>
                        <span id="confirmDeleteSpan_@employee.EmployeeId" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-secondary" onclick="confirmDelete('@employee.EmployeeId', false)">No</a>
                        </span>
                        <span id="deleteSpan_@employee.EmployeeId">
                            <a href="#" class="btn btn-danger m-1" onclick="confirmDelete('@employee.EmployeeId', true)">Delete</a>
                        </span>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <h2 class="m-3">No Employees to display</h2>
    }

</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}